  /* style du bas de page*/
  
  .footer {
    display:flex;
    position: absolute;          
    bottom: 0;
    right: 10px
  }

/* sur les écrans étroit le style est redéfini*/
  @media (max-width: 850px) {
    .footer {
        position: relative;
        position: -webkit-sticky;
        position: sticky;
        bottom: -3rem;
        align-self: center;
        margin-top: 100px;


    }
}